{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - columns: {Number}
  - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
  - wrapper_class: {String} Wrapper class for card (optional)
  - placeholder_image: {String} Placeholder image when collection is empty (optional)

  Usage:
  {% render 'card-collection' %}
{% endcomment %}

{%- liquid
  assign ratio = 1
  if card_collection.featured_image and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif card_collection.featured_image and media_aspect_ratio == 'adapt'
    assign ratio = card_collection.featured_image.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
  assign card_color_scheme = settings.card_color_scheme
  assign card_style = settings.card_style
  if wrapper_class == null or wrapper_class == 'none'
    assign card_color_scheme = settings.collection_card_color_scheme
    assign card_style = settings.collection_card_style
  endif
-%}

<div class="overflow-clip border border-neutral-80 rounded-[20px] w-full min-h-[450px] h-full grid grid-col-1 grid-auto-rows justify-between">
  <div
    class="bg-lm-background-1 w-full h-[200px] min-h-0 cursor-pointer py-[24px] flex flex-col  "
  >
    {%- if card_collection.featured_image -%}
      <img
        srcset="
          {%- if card_collection.featured_image.width >= 165 -%}{{ card_collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if card_collection.featured_image.width >= 330 -%}{{ card_collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
          {%- if card_collection.featured_image.width >= 535 -%}{{ card_collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if card_collection.featured_image.width >= 750 -%}{{ card_collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if card_collection.featured_image.width >= 1000 -%}{{ card_collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
          {%- if card_collection.featured_image.width >= 1500 -%}{{ card_collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if card_collection.featured_image.width >= 3000 -%}{{ card_collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {{ card_collection.featured_image | image_url }} {{ card_collection.featured_image.width }}w
        "
        src="{{ card_collection.featured_image | image_url: width: 1500 }}"
        sizes="
          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
          (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
          calc(100vw - 3rem)
        "
        alt="{{ card_collection.featured_image.alt | escape }}"
        height="{{ card_collection.featured_image.height }}"
        width="{{ card_collection.featured_image.width }}"
        loading="lazy"
        class="object-contain max-h-full mx-auto"
      >
    {%- endif -%}

    <div class="bg-lm-background-2 flex flex-col justify-between p-[32px] w-full min-h-[280px] p-10 ">
      <div class="flex flex-col gap-4 justify-between h-full">
        <h3 class="">
          <a
            {% if card_collection == blank %}
              role="link" aria-disabled="true"
            {% else %}
              href="{{ card_collection.url }}"
            {% endif %}
            class="flex items-center justify-between text-heading-small"
          >
            {%- if card_collection.title != blank -%}
              {{- card_collection.title | escape -}}
            {%- else -%}
              {{ 'onboarding.collection_title' | t }}
            {%- endif -%}
          </a>
        </h3>

        <p class="text-body-small">
          {{- card_collection.description | strip_html | truncatewords: 12 -}}
        </p>
        <a href="{{ card_collection.url }}">
          <button
            draggable="false"
            type="submit"
            class="rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px]  bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium h-[48px] cursor-pointer w-fit"
            data-variant-id="45197935149288"
          >
            View Collection
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
