{{ 'custom-product-carousel.css' | asset_url | stylesheet_tag }}

{% if product %}
  <div class="relative flex flex-col gap-1 w-full h-auto max-h-[45vh] lg:max-h-[calc(100vh_-_250px)] select-none overflow-clip">
    <div class="w-full h-full flex gap-[20px] snap-x snap-mandatory overflow-x-auto scrollbar-hide bg-neutral-100">
      <div class="product-carousel">
        <div class="carousel-wrapper h-full">
          <div class="carousel h-full " id="carousel-{{ product.handle }}">
            {% for image in product.images %}
              <div
                class="carousel-item relative flex flex-col items-center justify-center snap-center shrink-0 w-full h-full cursor-auto bg-neutral-100"
              >
                <img
                  src="{{ image | img_url: 'large' }}"
                  alt="{{ product.title }}"
                  class="w-full h-full object-contain overflow-clip origin-top-left pointer-events-none"
                  draggable="false"
                >
              </div>
            {% endfor %}
          </div>
          <button class="carousel-button prev" id="prev-{{ product.handle }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <circle cx="20" cy="20" r="20" transform="rotate(180 20 20)" class="fill-[#F2F0F2]/60 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80"></circle><path d="M23.875 13L17 19.875L23.875 26.75" stroke-width="1.125" class="stroke-[#5A5A5A]/60 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 " stroke-linejoin="round"></path>
            </svg>
          </button>
          <button class="carousel-button next" id="next-{{ product.handle }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <circle cx="20" cy="20" r="20" transform="rotate(180 20 20)" class="fill-[#F2F0F2]/60 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80"></circle><path d="M17 13L23.875 19.875L17 26.75" stroke-width="1.125" stroke-linejoin="round" class="stroke-[#5A5A5A]/60 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full h-auto flex-shrink-0">
      <div class="flex flex-row items-center gap-[10px] w-full h-[80px] justify-start lg:justify-center overflow-hidden">
        <div
          id="thumbnails-{{ product.handle }}"
          class="thumbnails w-fit max-w-full h-full inline-flex flex-row gap-[10px] overflow-x-auto overflow-y-hidden scrollbar-hide"
        >
          {% for image in product.images %}
            <div
              class="thumbnail-item cursor-pointer h-full max-h-full aspect-square flex-shrink-0 border-none relative border-lm-primary"
            >
              <img
                data-index="{{ forloop.index0 }}"
                src="{{ image | img_url: 'small' }}"
                alt="{{ product.title }}"
                class="w-full h-full max-w-full max-h-full aspect-square object-contain overflow-clip origin-top-left"
                draggable="false"
              >
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% else %}
  <p>Please select a product in the theme editor to display its images in a carousel.</p>
{% endif %}

<script src="{{ 'custom-product-carousel.js' | asset_url }}"></script>
