{{ 'pdp-accordion.css' | asset_url | stylesheet_tag }}

<div id="section-0" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px]">
    <div class="content-block w-full h-full">
      <div class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]">
        <div class="layout-flex relative h-full col-span-4 lg:col-span-12 flex flex-col">
          <div class="text-lm-on-background-1 w-full flex flex-col items-center lg:pt-[64px] lg:pb-[136px]">
            <div class="flex flex-col lg:flex-row lg:items-start h-full w-full">
              <div class="w-full lg:w-half lg:max-w-[50%] h-full flex flex-col items-center justify-start pt-[10px] lg:pt-[0px]">
                {% render 'custom-product-carousel', product: product %}
              </div>
              <div class="flex flex-col items-left w-full lg:w-half h-full text-left pt-[24px] lg:pt-[32px] pl-[0px] lg:pl-[90px] gap-[10px] lg:gap-[32px]">
                <div class="flex flex-col gap-[8px]">
                  <h1 class="text-heading-large">{{ product.title }}</h1>
                  <h2 class="text-subheading-large">{{ product.description }}</h2>
                </div>
                <div
                  class="product flex flex-col justify-between flex-wrap-reverse "
                  data-product-id="{{ product.id }}"
                >
                  {% if product.variants.size > 1 %}
                    <div class=" flex items-center gap-4">
                      {% for variant in product.variants %}
                        {% comment %} <a href="{{ product.url }}?variant={{ variant.id }}"> {% endcomment %}
                        <button
                          draggable="false"
                          type="button"
                          class="collection-variant-button rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] border-[1px] border-lm-outline-primary hover:bg-lm-inverse-primary-hover active:bg-lm-inverse-primary-click px-[16px] py-[8px] w-fit h-[48px] cursor-pointer text-body-small text-primary-20 {% if product.selected_or_first_available_variant.id == variant.id %}bg-lm-inverse-primary-click{% endif %}"
                          data-variant-id="{{ variant.id }}"
                          data-variant-price="{{ variant.price | money }}"
                        >
                          {{ variant.title }}
                        </button>
                        {% comment %} </a> {% endcomment %}
                      {% endfor %}
                    </div>
                  {% else %}
                    <input type="hidden" name="variant-id" value="{{ product.variants.first.id }}">
                  {% endif %}
                </div>

                <div class="flex flex-row gap-[24px] items-center">
                  <div class="flex flex-col gap-[12px] w-[50%]">
                    <div class="text-heading-large">
                      <font class="text-lm-on-background-1"
                        ><span class="product-variant-price-display"> {{ product.price | money }}</span></font
                      >
                    </div>
                  </div>
                  {% if product.metafields.custom.trustpilot_sku.value %}
                    <div class="flex flex-col items-start py-[16px]">
                      <div
                        class="trustpilot-widget"
                        data-locale="en-US"
                        data-template-id="577258fb31f02306e4e3aaf9"
                        data-businessunit-id="61afcdbddb33d8ea6bb5b67b"
                        data-star-color="#00b67a"
                        data-text-color="#000000"
                        data-style-height="24px"
                        data-style-width="100%"
                        data-theme="light"
                        data-font-family="Work Sans"
                        data-sku="{{ product.metafields.custom.trustpilot_sku.value }}"
                        data-no-reviews="hide"
                        data-scroll-to-list="true"
                        data-style-alignment="left"
                      >
                        <a
                          href="https://www.trustpilot.com/review/espres.so"
                          target="_blank"
                          rel="noopener"
                        >
                          Trustpilot
                        </a>
                      </div>
                    </div>
                  {% endif %}
                </div>
                <div class="shipping-info text-[#303030] flex flex-col">
                  <div class="flex flex-row gap-[8px] items-center py-[4px]">
                    <div class="w-[18px] mr-[8px]">
                      <div class="icon w-max flex flex-row items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9862 12.8287C14.9851 12.8315 14.984 12.8344 14.9829 12.8372C14.9583 12.9003 14.931 12.962 14.9011 13.0223C14.7245 13.3784 14.4585 13.6822 14.1323 13.9044C14.5161 13.643 14.8167 13.2685 14.9862 12.8287ZM13.2238 17.8255C13.5688 16.9914 14.3889 16.3988 15.3488 16.3953C14.2941 16.3953 13.406 17.1029 13.1329 18.0697H13.1386C13.1464 18.0425 13.1547 18.0155 13.1635 17.9887C13.1816 17.9334 13.2017 17.879 13.2238 17.8255ZM10.6088 17.4842C10.2013 16.8321 9.4776 16.3953 8.65116 16.3953C9.4782 16.3953 10.2028 16.8303 10.6088 17.4842ZM6.74968 17.3987C7.16553 16.7942 7.86142 16.3953 8.65116 16.3953C7.86075 16.3953 7.1641 16.7926 6.74968 17.3987Z" fill="#111111"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.1395 3.62791C15.1395 3.28465 14.8549 3 14.5116 3H6.97674C4.78326 3 3 4.78326 3 6.97674V13.6744V16.186C3 17.919 4.40651 19.3255 6.13953 19.3255H6.43554C6.70848 20.2925 7.59653 21.0001 8.65142 21.0001C9.92583 21.0001 10.7845 19.8796 10.8673 19.3255H13.1328C13.4057 20.2925 14.2938 21.0001 15.3487 21.0001C16.4073 21.0001 17.2979 20.2875 17.5674 19.3153C17.6219 19.1188 17.651 18.9117 17.651 18.6978C17.651 17.4252 16.6214 16.3953 15.3488 16.3953C14.3889 16.3988 13.5688 16.9914 13.2238 17.8255C13.2017 17.879 13.1816 17.9334 13.1635 17.9887C13.1547 18.0155 13.1464 18.0425 13.1386 18.0697H13.1329H10.8698C10.8627 18.0452 10.8553 18.0209 10.8475 17.9967C10.8287 17.9386 10.8077 17.8816 10.7845 17.8255C10.7353 17.7065 10.6764 17.5924 10.6088 17.4842C10.2013 16.8321 9.4776 16.3953 8.65116 16.3953C7.86142 16.3953 7.16553 16.7942 6.74968 17.3987C6.65817 17.5317 6.58021 17.6747 6.51781 17.8255C6.49464 17.8816 6.47362 17.9386 6.45484 17.9967C6.44702 18.0209 6.4396 18.0452 6.43257 18.0697H6.13953C5.1014 18.0697 4.25581 17.2241 4.25581 16.186V14.3023L12.8372 14.3023C13.0951 14.3023 13.343 14.26 13.5743 14.182C13.7196 14.1331 13.8583 14.07 13.9889 13.9945C14.0378 13.9662 14.0857 13.9361 14.1323 13.9044C14.4585 13.6822 14.7245 13.3784 14.9011 13.0223C14.931 12.962 14.9583 12.9003 14.9829 12.8372L14.9862 12.8287C15.0178 12.7466 15.0449 12.6621 15.0671 12.5757C15.1144 12.3917 15.1395 12.1988 15.1395 12V6.7674H16.0521C16.2644 6.7674 16.4687 6.83119 16.6395 6.94529C16.7719 7.0337 16.8842 7.15231 16.9647 7.29485L17.8605 8.86043C17.0567 8.86043 16.3953 9.52182 16.3953 10.3255V12.8372C16.3953 12.9653 16.4122 13.0898 16.4437 13.2086C16.6098 13.8349 17.1849 14.3023 17.8605 14.3023H19.7442V16.186C19.7442 17.2241 18.8986 18.0697 17.8605 18.0697H17.5674C17.5604 18.0452 17.553 18.0209 17.5452 17.9967C17.5264 17.9387 17.5055 17.8816 17.4824 17.8255C17.1376 16.989 16.3207 16.3953 15.3572 16.3953L15.3488 16.3953C16.6214 16.3953 17.651 17.4252 17.651 18.6978C17.651 18.9117 17.6219 19.1188 17.5674 19.3153L17.8605 19.3255C19.5935 19.3255 21 17.919 21 16.186V13.6744L21.0001 12C21.0001 11.8912 20.9666 11.7823 20.9164 11.6902L19.4847 9.17857L18.053 6.67532L18.0516 6.67288C17.6411 5.95432 16.88 5.51159 16.0521 5.51159H15.1395V3.62791ZM4.25581 6.97674C4.25581 5.47814 5.47814 4.25581 6.97674 4.25581H13.8837V6.1395V12C13.8837 12.5777 13.4149 13.0465 12.8372 13.0465H4.25581V6.97674ZM17.6512 10.3255C17.6512 10.2083 17.7433 10.1162 17.8605 10.1162L18.5722 10.1163L19.7443 12.1674V13.0465L17.8605 13.0465C17.7433 13.0465 17.6512 12.9544 17.6512 12.8372V10.3255ZM16.3572 18.417C16.3821 18.5063 16.3953 18.6004 16.3953 18.6976C16.3953 19.2753 15.9264 19.7443 15.3487 19.7443C14.771 19.7443 14.3023 19.2753 14.3023 18.6976C14.3023 18.5996 14.3158 18.5048 14.3411 18.4148C14.4645 17.9744 14.8692 17.6511 15.3488 17.6511L15.3572 17.6512C15.834 17.6549 16.2352 17.978 16.3572 18.417ZM9.65957 18.417C9.6844 18.5063 9.69767 18.6004 9.69767 18.6976C9.69767 19.2753 9.22909 19.7443 8.65142 19.7443C8.07375 19.7443 7.60465 19.2753 7.60465 18.6976C7.60465 18.6004 7.61792 18.5063 7.64276 18.417C7.7655 17.9755 8.17069 17.6511 8.65116 17.6511C9.12052 17.6511 9.51803 17.9606 9.6506 18.3865C9.65374 18.3966 9.65673 18.4068 9.65957 18.417Z" fill="#111111"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="text-body-small">Free standard shipping</div>
                  </div>
                </div>
                <div class="flex flex-col items-center lg:items-start py-[12px] gap-[8px]">
                  <div class="flex flex-col lg:flex-row gap-[24px] flex-wrap">
                    <form class="collection-quick-add-to-cart" method="post" action="/cart/add">
                      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                      <input type="hidden" min="1" type="number" id="quantity" name="quantity" value="1">
                      <input
                        type="submit"
                        value="Add to cart"
                        class="rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium h-[48px] cursor-pointer w-fit"
                      >
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main product",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Main product",
      "category": "Custom"
    }
  ]
}
{% endschema %}
