<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-neutral-100 text-lm-on-background-0 py-[20px] lg:py-[48px] lg:h-[250px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-flex relative h-full col-start-1 lg:col-start-2 col-span-full lg:col-span-10 section information-summary flex flex-col justify-center gap-[32px] lg:gap-[40px]"
        >
          <div
            id=""
            class="layout-flex relative h-full col-span-4 lg:col-span-12 content-container flex flex-col justify-center gap-[32px] lg:gap-[24px] items-center"
          >
            <h2 class="text-center text-heading-extralarge">Awarded for outstanding design by industry experts.</h2>
            <div
              id=""
              class="layout-grid relative h-full col-span-4 lg:col-span-12 grid auto-rows-max lg:gap-x-[20px] callout-group justify-between place-items-center desktop-small:grid-cols-6 grid-cols-3 grid-rows-2 lg:grid-cols-6 lg:grid-rows-1 gap-[40px] w-full max-w-[500px] lg:max-w-[1000px]"
            >
              <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-1 desktop-small:col-span-1 col-span-1">
                <div class="image max-h-[96px] max-w-none max-h-none my-[0px]">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      src="{{ 'image-award-reddot.png' | asset_url }}"
                      fetchpriority="auto"
                      alt="reddot winner"
                      width=""
                      height=""
                      draggable="false"
                      class="w-full h-full object-contain max-w-none max-h-none my-[0px]"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-1 desktop-small:col-span-1 col-span-1">
                <div class="image max-h-[96px] max-w-none max-h-none my-[0px]">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      src="{{ 'image-award-time.png' | asset_url }}"
                      fetchpriority="auto"
                      alt="time best inventions"
                      width=""
                      height=""
                      draggable="false"
                      class="w-full h-full object-contain max-w-none max-h-none my-[0px]"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-1 desktop-small:col-span-1 col-span-1">
                <div class="image max-h-[96px] max-w-none max-h-none my-[0px]">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      src="{{ 'image-award-techradar.png' | asset_url }}"
                      fetchpriority="auto"
                      alt="techradar winner"
                      width=""
                      height=""
                      draggable="false"
                      class="w-full h-full object-contain max-w-none max-h-none my-[0px]"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-1 desktop-small:col-span-1 col-span-1">
                <div class="image max-h-[96px] max-w-none max-h-none my-[0px]">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      src="{{ 'image-award-tomshardware.png' | asset_url }}"
                      fetchpriority="auto"
                      alt="toms hardware winner"
                      width=""
                      height=""
                      draggable="false"
                      class="w-full h-full object-contain max-w-none max-h-none my-[0px]"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-1 desktop-small:col-span-1 col-span-1">
                <div class="image max-h-[96px] max-w-none max-h-none my-[0px]">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      src="{{ 'image-award-ces.png' | asset_url }}"
                      fetchpriority="auto"
                      alt="ces innovation awards 2024 honoree"
                      width=""
                      height=""
                      draggable="false"
                      class="w-full h-full object-contain max-w-none max-h-none my-[0px]"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-1 desktop-small:col-span-1 col-span-1">
                <div class="image max-h-[96px] max-w-none max-h-none my-[0px]">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      src="{{ 'image-award-gooddesign.png' | asset_url }}"
                      fetchpriority="auto"
                      alt="good design award gold winner"
                      width=""
                      height=""
                      draggable="false"
                      class="w-full h-full object-contain max-w-none max-h-none my-[0px]"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
