{% comment %}
  <div class="bg-lm-background-5 text-lm-on-background-5 w-full h-[500px] flex flex-col items-center">
    <div class="flex flex-col items-center relative h-full w-full">
      <div class="background absolute w-full h-full">
        <div class="image min-h-0 desktop-small:hidden h-full w-full">
          <img
            src="{{ 'image-espresso-hero-home-640-ext.jpeg' | asset_url }}"
            fetchpriority="auto"
            alt=""
            width=""
            height=""
            draggable="false"
            class="h-full w-full desktop-small:h-full desktop-small:w-full object-cover object-[70%_50%] desktop-small:object-[50%_50%] overflow-hidden"
          >
        </div>
        <div class="image min-h-0 w-full hidden desktop-small:block desktop:hidden h-full">
          <img
            src="{{ 'image-espresso-hero-home-640.png' | asset_url }}"
            fetchpriority="auto"
            alt=""
            width=""
            height=""
            draggable="false"
            class="h-full w-auto desktop-small:h-full desktop-small:w-full object-cover object-[70%_50%] desktop-small:object-[50%_50%] overflow-hidden"
          >
        </div>
        <div class="image min-h-0 w-full hidden desktop:block desktop-large:hidden h-full">
          <img
            src="{{ 'image-espresso-hero-home-1799.png' | asset_url }}"
            fetchpriority="auto"
            alt=""
            width=""
            height=""
            draggable="false"
            class="h-full w-full object-cover object-center overflow-hidden"
          >
        </div>
        <div class="image min-h-0 w-full hidden desktop-large:block h-full">
          <img
            src="{{ 'image-espresso-hero-home-1800.png' | asset_url }}"
            fetchpriority="auto"
            alt=""
            width=""
            height=""
            draggable="false"
            class="h-full w-full object-cover object-center overflow-hidden"
          >
        </div>
      </div>
      <div class="z-[2] h-full w-full max-w-content-max-width px-[32px] lg:px-[70px]">
        <div
          id=""
          class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] desktop:place-content-center desktop:place-items-start"
        >
          <div
            id=""
            class="layout-flex relative h-full col-start-1 desktop-small:col-start-5 desktop:col-start-1 col-span-full desktop-small:col-span-4 desktop:col-span-full content-container flex flex-col justify-start items-center desktop:items-start gap-[16px] py-[20px] desktop-small:py-[48px]"
          >
            <h1 class="heading text-heading-medium currentColor whitespace-pre-wrap flex flex-row desktop-small:flex-col gap-[10px] desktop-small:gap-[0px]">
              <span>espresso Pro</span>
            </h1>
            <div class="subheading text-subheading-medium currentColor flex flex-row flex-wrap gap-[10px] desktop-small:flex-col justify-center desktop-small:justify-start">
              <div class="text-center">4K Premium Portable Touchscreen Display.</div>
            </div>
            <div class="w-full flex flex-row flex-wrap gap-[20px] desktop-small:gap-[20px] justify-center desktop:justify-start">
              <a
                aria-label="Shop Pro"
                draggable="false"
                class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click w-[130px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer event-hp-v3-learn"
                href="/products/pro-bundle"
                >Shop Pro</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endcomment %}
{% comment %}
  <div class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full bg-[rgb(17,17,17)]">
    <div class="h-[95vh] md:h-auto grid grid-cols-1 md:grid-cols-3 gap-8 items-center justify-start p-[20px] md:p-[2.5rem] desktop:items-start max-w-content-max-width w-full lg:p-[4.5rem]  ">
      <div class=" flex flex-col gap-4 items-center md:items-start  md:col-span-2 desktop:col-span-1 desktop:row-start-1  desktop-large:col-span-1  ">
        <h1 class="heading text-heading-medium currentColor flex flex-row desktop-small:flex-col gap-[10px] desktop-small:gap-[0px] text-center md:text-left text-[#FFFFFF] desktop-large:mt-[2rem] desktop-large:text-heading-large ">
          espresso Black<br>
          Friday offers
        </h1>
        <p class="subheading text-subheading-medium currentColor flex flex-row flex-wrap gap-[10px] desktop-small:flex-col justify-center desktop-small:justify-start  text-[#FFFFFF] desktop-lage:text-subheading-large ">
          Save 15% on espresso 17 Pro
        </p>
        <a
          aria-label="Shop Pro"
          draggable="false"
          class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click  h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer event-hp-v3-learn  "
          href="/products/pro-bundle"
          >Shop 17 Pro</a
        >
      </div>
      <div class="min-h-0 w-full h-full md:col-span-3 md:flex md:justify-end md:row-start-2 desktop:row-start-1 desktop:max-h-[80vh] desktop-large:col-span-2 desktop-large:col-start-2 lg:max-h-[80vh]  ">
        <img
          src="{{ 'espresso-17-pro-monitor.png' | asset_url }}"
          fetchpriority="auto"
          alt=""
          width=""
          height=""
          draggable="false"
          class="h-full w-full object-contain object-center  md:w-[80%] lg:w-[90%]  desktop-large:w-[90%] "
        >
      </div>
    </div>
  </div>
{% endcomment %}

<div class="bg-lm-background-5 text-lm-on-background-5 w-full h-[560px] flex flex-col items-center">
  <div class="flex flex-col items-center relative h-full w-full">
    <div class="background absolute w-full h-full">
      <div class="image min-h-0 desktop-small:hidden h-full w-full">
        <img
          src="/assets/images/image-home-hero-xmas-mobile.webp"
          fetchpriority="auto"
          alt=""
          width=""
          height=""
          draggable="false"
          class="h-full w-full object-cover object-center overflow-hidden"
        >
      </div>
      <div class="image min-h-0 w-full hidden desktop-small:block desktop:hidden h-full">
        <img
          src="/assets/images/image-home-hero-xmas-desktop-small.webp"
          fetchpriority="auto"
          alt=""
          width=""
          height=""
          draggable="false"
          class="h-full w-full object-cover object-center overflow-hidden"
        >
      </div>
      <div class="image min-h-0 w-full hidden desktop:block h-full">
        <img
          src="{{ "image-home-hero-xmas-desktop.webp" | asset_url }}"
          fetchpriority="auto"
          alt=""
          width=""
          height=""
          draggable="false"
          class="h-full w-full object-cover object-center overflow-hidden"
        >
      </div>
    </div>
    <div class="z-[2] h-full w-full max-w-content-max-width px-[32px] lg:px-[70px]">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] desktop-small:place-content-center desktop-small:place-items-center"
      >
        <div
          id=""
          class="layout-flex relative col-start-1 col-span-full content-container w-full h-full flex flex-col justify-center items-center gap-[10px] desktop-small:gap-[16px] py-[32px] desktop-small:py-[70px] text-[#EED890]"
        >
          <h1 class="heading currentColor whitespace-pre-wrap flex flex-col items-center text-center text-display-small w-full font-typeface-special">
            <span>This year's most</span><span>wanted tech</span>
          </h1>
          <div class="subheading text-subheading-medium currentColor flex flex-row flex-wrap gap-[10px] desktop-small:flex-col justify-center desktop-small:justify-start">
            <div class="text-center">Holiday gifts that transform workspaces.</div>
          </div>
          <div class="w-full flex flex-row flex-wrap gap-[20px] desktop-small:gap-[20px] justify-center ">
            <a
              aria-label="Shop all"
              draggable="false"
              class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[4px] whitespace-pre-wrap px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer bg-[#EED890] hover:bg-[#E7C964] active:bg-[#E1B938] text-neutral-00"
              href="/collections/bundles"
              >Shop all</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "t:sections.image-banner.settings.image_3.label"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "t:sections.image-banner.settings.image_4.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-banner.blocks.heading.settings.heading.default",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.image-banner.blocks.text.settings.text.default",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_2.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
