{% comment %} {{ 'section-image-banner.css' | asset_url | stylesheet_tag }} {% endcomment %}

{% comment %}
  {%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
    {%- style -%}
      @media screen and (max-width: 749px) {
        #Banner-{{ section.id }}::before,
        #Banner-{{ section.id }} .banner__media::before,
        #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
          padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
          content: '';
          display: block;
        }
      }

      @media screen and (min-width: 750px) {
        #Banner-{{ section.id }}::before,
        #Banner-{{ section.id }} .banner__media::before {
          padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
          content: '';
          display: block;
        }
      }
    {%- endstyle -%}
  {%- endif -%}

  {%- style -%}
    #Banner-{{ section.id }}::after {
      opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    }
  {%- endstyle -%}
{% endcomment %}

{% comment %}
  {%- liquid
    assign full_width = '100vw'
    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

    if section.settings.image_behavior == 'ambient'
      assign half_width = '60vw'
      assign full_width = '120vw'
      assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
      assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
    elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
      assign half_width = '100vw'
      assign stacked_sizes = '100vw'
    else
      assign half_width = '50vw'
      assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
    endif
    assign fetch_priority = 'auto'
    if section.index == 1
      assign fetch_priority = 'high'
    endif
  -%}
{% endcomment %}

<div class="hero flex flex-col gap-[10px]">
  <div class="relative w-full h-full">
    <div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full bg-neutral-90">
      <div class="section-layout max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-neutral-90 text-lm-on-background-1 pt-[20px] lg:pt-[48px] overflow-hidden z-[2] w-full h-[400px] lg:h-[440px]">
        <div class="content-block w-full h-full">
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] gap-y-[20px] grid-rows-[auto_minmax(0,_1fr)] lg:grid-rows-none lg:auto-rows-fr"
          >
            <div
              id=""
              class="layout-flex relative h-full col-span-full lg:col-span-4 xl:col-span-3 content-container flex flex-col justify-start items-center lg:items-start text-start gap-[16px] lg:order-last"
            >
              <h1 class="heading text-heading-large currentColor whitespace-pre-wrap flex flex-row lg:flex-col gap-[10px] lg:gap-[0px]">
                <span>espresso</span><span>17</span><span>Pro</span>
              </h1>
              <div class="subheading text-subheading-small currentColor flex flex-row flex-wrap gap-[10px] lg:flex-col justify-center lg:justify-start">
                <div>Performance anywhere.</div>
                <div>Now in 4K.</div>
              </div>
              <div class="w-full flex flex-row flex-wrap gap-[20px] lg:gap-[20px] justify-center lg:justify-start">
                {% comment %}
                  <a
                  aria-label="Learn more"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium w-fit h-[48px] cursor-pointer event-hp-v3-learn"
                  href="/products/espresso-pro-and-stand"
                  >Learn more</a>
                {% endcomment %}
                <a
                  aria-label="Buy now"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap border-[1px] border-lm-outline-primary bg-lm-inverse-primary text-lm-inverse-on-primary hover:bg-lm-inverse-primary-hover active:bg-lm-inverse-primary-click px-[16px] py-[8px] text-label-medium w-fit h-[48px] cursor-pointer event-hp-v3-buy"
                  href="/products/espressodisplay"
                  >Buy now</a
                >
              </div>
            </div>
            <div id="" class="layout-flex relative h-full xl:col-span-3 media justify-center hidden xl:flex flex-col">
              <div class="image h-full min-h-0 w-full flex flex-col justify-center">
                <img
                  src="{{ 'image-home-hero-v3-02.png' | asset_url }}"
                  alt="espresso displays"
                  width="auto"
                  height="auto"
                  class="w-full h-full object-contain object-bottom"
                >
              </div>
            </div>
            <div
              id=""
              class="layout-flex relative h-full col-span-full lg:col-span-8 xl:col-span-6 media flex flex-col justify-center"
            >
              <div class="image h-full min-h-0 w-full">
                <img
                  src="{{ 'image-home-hero-v3-01.png' | asset_url }}"
                  alt="espresso displays"
                  width="auto"
                  height="auto"
                  class="w-full h-full object-contain object-bottom"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative w-full h-full">
    <div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100">
      <div class="section-layout max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-neutral-100 text-lm-on-background-1 pt-[20px] lg:pt-[48px] overflow-hidden z-[2] w-full h-[400px] lg:h-[440px]">
        <div class="content-block w-full h-full">
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] gap-y-[20px] lg:gap-y-[0px] grid-rows-[auto_minmax(0,_1fr)] lg:grid-rows-none lg:auto-rows-fr"
          >
            <div
              id=""
              class="layout-flex relative h-full col-span-full lg:col-span-4 xl:col-span-3 content-container flex flex-col justify-start items-center lg:items-start text-center lg:text-start gap-[16px]"
            >
              <h1 class="heading text-heading-large currentColor whitespace-pre-wrap">espresso Display 13/15</h1>
              <div class="subheading text-subheading-small currentColor flex flex-row gap-[10px] lg:flex-col justify-start">
                <div>Productive twins. Big and small.</div>
              </div>
              <div class="w-full flex flex-row flex-wrap gap-[20px] lg:gap-[20px] justify-center lg:justify-start">
                <a
                  aria-label="Learn more"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium w-fit h-[48px] cursor-pointer event-hp-v2-learn"
                  href="/products/espressodisplays-and-stand"
                  >Learn more</a
                ><a
                  aria-label="Buy now"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap border-[1px] border-lm-outline-primary bg-lm-inverse-primary text-lm-inverse-on-primary hover:bg-lm-inverse-primary-hover active:bg-lm-inverse-primary-click px-[16px] py-[8px] text-label-medium w-fit h-[48px] cursor-pointer event-hp-v2-buy"
                  href="/shop?display=v2&amp;size=15"
                  >Buy now</a
                >
              </div>
            </div>
            <div
              id=""
              class="layout-flex relative h-full col-span-full lg:col-span-8 xl:col-span-9 media flex flex-col justify-center items-center"
            >
              <div class="image h-full min-h-0 w-full block lg:hidden">
                <img
                  src="{{ 'image-home-hero-v2-01.png' | asset_url }}"
                  width="auto"
                  height="auto"
                  class="w-full h-full object-contain object-bottom"
                >
              </div>
              <div class="image h-full min-h-0 w-full hidden lg:flex flex-col items-center">
                <img
                  src="{{ 'image-home-hero-v2-02.png' | asset_url }}"
                  alt="espresso displays"
                  width="auto"
                  height="auto"
                  class="w-full h-full object-contain object-bottom"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %}
  <div>
    {%- if section.settings.image != blank -%}
      <div>
        {%- liquid
          assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
          if section.settings.image_2 != blank
            assign image_class = 'banner__media-image-half'
          endif
          if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
            assign sizes = stacked_sizes
          elsif section.settings.image_2 != blank
            assign sizes = half_width
          else
            assign sizes = full_width
          endif
        -%}
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag:
            width: section.settings.image.width,
            height: image_height,
            class: image_class,
            sizes: sizes,
            widths: widths,
            fetchpriority: fetch_priority
        }}
      </div>
    {%- elsif section.settings.image_2 == blank -%}
      <div>
        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {%- endif -%}
    {%- if section.settings.image_2 != blank -%}
      <div>
        {%- liquid
          assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
          if section.settings.image != blank
            assign image_class_2 = 'banner__media-image-half'
          endif
          if section.settings.image != blank and section.settings.stack_images_on_mobile
            assign sizes = stacked_sizes
          elsif section.settings.image_2 != blank
            assign sizes = half_width
          else
            assign sizes = full_width
          endif
        -%}
        {{
          section.settings.image_2
          | image_url: width: 3840
          | image_tag:
            width: section.settings.image_2.width,
            height: image_height_2,
            class: image_class_2,
            sizes: sizes,
            widths: widths,
            fetchpriority: fetch_priority
        }}
      </div>
    {%- endif -%}
    <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="banner__heading inline-richtext {{ block.settings.heading_size }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.heading }}
              </h2>
            {%- when 'text' -%}
              <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                <p>{{ block.settings.text }}</p>
              </div>
            {%- when 'buttons' -%}
              <div
                class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.button_label_1 != blank -%}
                  <a
                    {% if block.settings.button_link_1 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_1 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_1 | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endcomment %}

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "t:sections.image-banner.settings.image_3.label"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "t:sections.image-banner.settings.image_4.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-banner.blocks.heading.settings.heading.default",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.image-banner.blocks.text.settings.text.default",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_2.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
