{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<cart-items class="gradient color-{{ section.settings.color_scheme }} isolate{% if cart == empty %} is-empty{% else %} section-{{ section.id }}-padding{% endif %}">
  <div class="w-[1800px] max-w-full relative flex flex-col items-center py-[32px] lg:py-[72px]">
    <div class="relative w-full flex flex-col gap-[32px] lg:gap-[40px] max-w-[950px] px-[10px]">
      {% if cart != empty %}
        <div class="sticky top-[65px] lg:top-0 flex flex-col gap-[20px] lg:flex-row lg:items-center lg:justify-between pb-[10px] bg-neutral-101 z-[20] w-full">
          <h1 class="text-heading-large">Review cart</h1>
          <div class="cart-contents w-full lg:w-auto">
            <div class="cart__ctas z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] å bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click w-full lg:w-[275px] h-[48px] px-[16px] py-[8px] text-label-large cursor-pointer event-cart-checkout-top">
              <button
                type="submit"
                id="checkout"
                class="cart__checkout-button button"
                name="checkout"
                {% if cart == empty %}
                  disabled
                {% endif %}
                form="cart"
              >
                {{ 'sections.cart.checkout' | t }}
              </button>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="cart__warnings flex flex-col items-center !pt-0">
        <div class="py-[50px] max-w-[700px] w-full mx-auto">
          <section class="flex flex-col items-center gap-4">
            <div class="text-center mt-4">No products in cart</div>
            <a
              aria-label="Buy now"
              draggable="false"
              class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click w-full lg:w-[275px] h-[48px] px-[16px] py-[8px] text-label-large cursor-pointer"
              href="/products"
              >Buy now</a
            >
          </section>
        </div>
      </div>

      <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
        <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
          <div class="js-contents">
            {%- if cart != empty -%}
              <div class="flex flex-colflex flex-col gap-[40px]">
                <div class=" h-fit">
                  {%- for item in cart.items -%}
                    {% render 'cart-item', item: item %}
                  {% endfor %}
                </div>
              </div>
            {%- endif -%}
          </div>
        </div>

        <p class="visually-hidden hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
        <p
          class="visually-hidden hidden"
          id="shopping-cart-line-item-status"
          aria-live="polite"
          aria-hidden="true"
          role="status"
        >
          {{ 'accessibility.loading' | t }}
        </p>
      </form>
    </div>
  </div>
</cart-items>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
