<div id="section-compare" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-0 text-lm-on-background-0 py-[24px] lg:pt-[64px] lg:pb-[32px]">
    <div class="content-block w-full h-full">
      <div
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div class="col-span-4 lg:col-span-12 flex flex-col gap-[32px] lg:gap-[32px] py-[32px] lg:py-[64px] px-[16px] lg:px-[48px] rounded-lg bg-lm-background-2">
          <h2 class="text-heading-large text-center py-6">Which display is right for you?</h2>
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-[30px]">
            {% for item in product.metafields.custom.compare.value %}
              <div class="flex flex-col items-center gap-[16px] lg:gap-[32px]">
                <div class="px-4 flex items-center h-[200px]">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      src="{{ item.thumbnail | image_url }}"
                      fetchpriority="auto"
                      alt=""
                      width=""
                      height=""
                      draggable="false"
                      class="w-full h-full object-contain"
                    >
                  </div>
                </div>
                <div class="flex flex-col gap-[8px] lg:gap-[32px]">
                  <div class="text-center text-heading-medium h-[32px] lg:h-[56px]">{{ item.title.value }}</div>
                  <font class="text-lm-on-background-1 text-center justify-center text-heading-small"
                    ><span>{{ item.product.value.price | money }}</span></font
                  >
                  <div class="text-center text-body-medium h-auto lg:h-[72px]">{{ item.description }}</div>
                </div>
                <div class="flex flex-row justify-center">
                  {% if product.variants.first.id == item.product.value.id %}
                    <form class="collection-quick-add-to-cart" method="post" action="/cart/add">
                      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                      <input type="hidden" min="1" type="number" id="quantity" name="quantity" value="1">
                      <input
                        type="submit"
                        value="Buy now"
                        class="rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium h-[48px] cursor-pointer w-fit"
                      >
                    </form>

                  {% else %}
                    <a
                      aria-label="Learn more"
                      draggable="false"
                      class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap border-[1px] border-lm-outline-primary bg-lm-inverse-primary text-lm-inverse-on-primary hover:bg-lm-inverse-primary-hover active:bg-lm-inverse-primary-click w-[130px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer event-pdp-v3-learn-15 event-pdp-v3-learn-15 event-pdp-v2-learn-15 event-pdp-v3-learn-15 event-pdp-v3-learn-15"
                      href="{{ item.product.value.url }}"
                      >Learn more</a
                    >
                  {% endif %}
                </div>

                <div class="product-specs">
                  {{ item.specs | metafield_tag }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Compare",
  "settings": [
    {
      "type": "text",
      "id": "product_title",
      "label": "Active Product Title"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Compare",
      "category": "Custom"
    }
  ]
}
{% endschema %}
